*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

body {
  color: $textColor;
  font: $baseFont;
  a {
    color: $linkColor;
  }
}
.intro {
  .img-holder {
    height: 890px;
    overflow: hidden;
    position: absolute;
    img {
      display: block;
      width: 100%;
    }
  }
}
.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  .logo {
    padding: 44px 0 0 95px;
    h1 {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      .green {
        border-bottom: 3px solid $atlatis;
      }
    }
  }
  .nav {
    display: flex;
    width: 580px;
    justify-content: space-between;
    padding: 60px 66px 0 0;
    a {
      @include navLink(#fff, 13px, 600);
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
.tagline {
  position: relative;
  bottom: -400px;
  left: 40px;
  .big {
    display: block;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    &:after {
      content: "/";
      color: $atlatis;
    }
  }
  .small {
  }
}
