*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

body {
  color: $textColor;
  font: $baseFont;
  a {
    color: $linkColor;
  }
}
.intro {
  .img-holder {
    overflow: hidden;
    position: relative;
    img {
      display: block;
      width: 100%;
    }
  }
}
.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  .logo {
    margin-left: 93px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    span {
      border-bottom: 3px solid $atlantis;
    }
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    li {
      margin-left: 65px;
      a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;
        &:hover {
          color: $atlantis;
        }
      }
    }
  }
}
.tagline {
  position: absolute;
  left: 0;
  top: 600px;
  h1 {
    padding-left: 117px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 14px;
    &::after {
      content: "/";
      color: $atlantis;
    }
  }
  span {
    padding-left: 276px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 8px;
    &::after {
      content: "/";
      color: $persimmon;
    }
  }
}
.green-section {
  background: $atlantis;
  width: 100%;
  .data-news:nth-child(odd) {
    .dataContent {
      order: 1;
    }
    .dataImg {
      order: 2;
    }
  }
  @include media(">=768px") {
    .data-news:nth-child(odd) {
      .dataContent {
        order: 2;
      }
      .dataImg {
        order: 1;
      }
    }
  }
  .data-section {
    max-width: 1180px;
    margin: auto;
    padding-top: 176px;
    display: flex;
    flex-wrap: wrap;
    @include media(">=768px") {
      display: flex;
      justify-content: space-between;
    }

    .articles {
      position: relative;
      margin-bottom: 120px;
      width: 45%;
      @include media(">=768px") {
        width: 280px;
      }

      h2 {
        font-size: 24px;
        padding-bottom: 30px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 30px;
      }
      a {
        position: absolute;
        bottom: 0;
        left: 0;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        &:hover {
          color: $persimmon;
        }
      }
    }
  }
}
.data-news {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  @include media(">=768px") {
    flex-wrap: nowrap;
  }
  @include media(">=1180px") {
    width: 1180px;
    margin: auto;
  }
}
.dataContent {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    @include news(14px, "Montserrat" sans-serif, 400, #fd634e);
    text-transform: uppercase;
    padding-top: 55px;
    padding-bottom: 13px;
  }
  h3 {
    @include news(35px, "Open Sans" sans-serif, 300, #a2ca28);
    text-transform: uppercase;
    padding-bottom: 73px;
  }
  p {
    @include news(14px, "Open Sans" sans-serif, 400, #656e74);
    line-height: 27px;
    padding: 0 46px;
  }
  a {
    @include news(14px, "Open Sans" sans-serif, 400, #a2ca28);
  }
}
.dataImg {
  // height: 394px;
  overflow: hidden;
  @include media(">=768px") {
    flex: 1;
  }
  img {
    width: auto;
    display: block;
  }
}

.brown-section {
  width: 100%;
  background: $persimmon;
  .data-section-brown {
    max-width: 1180px;
    margin: auto;
    display: flex;
    .column-left {
      display: flex;
      flex-direction: column;
      .dataImg {
        flex: none;
        height: auto;
      }
      .column-text-left {
        background: #fff;
        display: flex;
        align-items: flex-start;
        height: 310px;
        width: auto;
        span,
        h3 {
          padding-left: 35px;
        }
      }
    }
    .columh-right {
      display: flex;
      flex-direction: column;
      .dataImg {
        flex: none;
        height: 0;
      }
    }
  }
}
.greenBlock {
  background: $atlantis;
  height: 310px;
  width: auto;
  h3 {
    font-size: 40px;
    font-weight: 300;
    color: #ffff;
    text-transform: uppercase;
    padding: 60px 0 30px 60px;
  }
  p {
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    color: #fff;
    padding: 0px 100px 0 60px;
  }
}
.wide {
  width: auto;
}

h2::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
}
.resources {
  background: url(../images/sprite/sprite.svg#resources) no-repeat;
  width: 44px;
  height: 41px;
}
.training {
  background: url(../images/sprite/sprite.svg#training) no-repeat;
  width: 44px;
  height: 41px;
}
.connect {
  background: url(../images/sprite/sprite.svg#connect) no-repeat;
  width: 44px;
  height: 41px;
}
.communicate {
  background: url(../images/sprite/sprite.svg#communicate) no-repeat;
  width: 44px;
  height: 41px;
}
