*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
.intro {
  .img-holder {
    height: 890px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }
}
